ragas==0.2.15
langchain==0.3.30
langchain-community==0.3.27
langchain-openai==0.3.35
langchain-ollama
langchain_groq
langchain_huggingface
langfuse>=4.0.0

ollama
openai
sentence_transformers

datasets
pandas
numpy
matplotlib
streamlit

matplotlib
plotly
openpyxl

jupyter
ipykernel
python-dotenv
tiktoken

# ROUGE, BLEU
nltk
rouge-score